@font-face {
    font-family: 'digital-7_monoitalic';
    src: url('../fonts/digital-7_mono_italic-webfont.woff2') format('woff2'),
         url('../fonts/digital-7_mono_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'digital-7_italicitalic';
    src: url('../fonts/digital-7_italic-webfont.woff2') format('woff2'),
         url('../fonts/digital-7_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'digital-7_monomono';
    src: url('../fonts/digital-7_mono-webfont.woff2') format('woff2'),
         url('../fonts/digital-7_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'digital-7regular';
    src: url('../fonts/digital-7-webfont.woff2') format('woff2'),
         url('../fonts/digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}